*{
    --color-bright: #f2f1c6;
    --color-orange: #FF6138;
    --body-background-color: #2c3135;
    font-family: 'Montserrat', sans-serif;
    /* overflow-x: hidden; */
}

html {
    scroll-behavior: smooth;
}

p{
    font-family: 'Josefin Sans', sans-serif;
}

a{
    text-decoration: none;
}

.main-container{
    height: 100vh;
    color: white;
    background-color: black;
}

.main-container2{
    height: 110vh;
    color: #000000;
    background-color: white;
}

.main-container3{
    height: 110vh;
    color: white;
    background-color: black;
}

.main-containerfoot{
    height: 50vh;
    color: white;
    background-color: black;
}

.nav-link{
    cursor: pointer;
    color: #195561;
}

#navbar{
    transition: 0.4s;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    opacity: 0.80;
    overflow: hidden;
}

/* .logo-home{
    height: 500px;
} */

.photo{
    border-radius: 40%;
}

@media screen and (max-width:992px) {
    #navbar{
        display: none;
    }
    .row-name{
        display: none;
    }
    /* .logo-home{
        height: 230px;
    } */
}

.photo-container{
    border: 3px solid black;
    padding: 4px;
}

/* Scritta */

.socialicon{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.socialicon li{
    list-style: none;
}

.socialicon li a{
    color: white;
    display: inline-block;
    transition: 0.4s;
}

.socialicon li a:hover{
    transform: translateY(-20px);
}

.ul-name {
    position: relative;
    display: flex;
}

.li-name {
    list-style: none;
}

.label-name {
    position: relative;
}

input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 80px;
    width: 80px;
    z-index: 100;
}

.div-name {
    position: relative;
    height: 80px;
    width: 80px;
    background: #18191f;
    color: #555;
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 46px;
    cursor: pointer;
    margin: 0 4px;
    border-radius: 20px;
    box-shadow: -1px -1px 4px rgba(255, 255, 255, 0.05),
    4px 4px 6px rgba(0, 0, 0, 0.2),
    inset -1px -1px 4px rgba(255, 255, 255, 0.05),
    inset 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.div-nome:before {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    width: 75px;
    height: 38px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background: rgba(255, 255, 255, 0.05);
}

input[type="checkbox"]:checked ~ div {
    box-shadow: inset 0 0 2px rgba(255, 255, 255, 0.05),
    inset 4px 4px 6px rgba(0, 0, 0, 0.2);
    color: yellow;
    text-shadow: 0 0 15px yellow, 0 0 25px yellow;
    animation: glow 1.5s linear infinite;
}

@keyframes glow {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}

.offcanvas-made{
    background: -o-repeating-linear-gradient(80deg, rgba(255,255,255,0.688034188034188) 64%, rgba(255,255,255,0) 100%);
    background: rgb(255,255,255);
}

/* BUTTON */
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

#cv {
    width: 230px;
    height: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    background: red;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
    background: #e62222;
}

button, button span {
    transition: 200ms;
}

button .text, .a-cv {
    transform: translateX(35px);
    color: white;
    font-weight: bold;
}

button .icon {
    position: absolute;
    border-left: 1px solid #c41b1b;
    transform: translateX(180px);
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

button svg {
    width: 15px;
    fill: #eee;
}

#cv:hover {
    background: #ff3636;
}

button:hover .text {
    color: transparent;
}

button:hover .a-cv {
    color: transparent;
}

.a-cv{
    text-decoration: none;
}

button:hover .icon {
    width: 150px;
    border-left: none;
    transform: translateX(35px);
}

button:focus {
    outline: none;
}

/* FOOTER */
#contact-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact-info .links {
    display: flex;
    min-width: 500px;
    justify-content: space-between;
}

#contact-info a {
    text-decoration: none;
    color: var(--color-bright);
    font-size: 2rem;
}



/* ****************** */
/* PREVENTING FLICKERING ON HOVER BECAUSE OF ROTATING AND SKEW TRANSFORMATIONS*/
#contact-info .links a {
    display: block;
    position: relative;
}
#contact-info .links a::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid transparent;
    transition: all .3s;
}
#contact-info .links a:hover::after {
    transform: rotate(35deg) skew(-20deg);
    --transformed-box-diagonal-length: 164%;
    width: var(--transformed-box-diagonal-length);
    left: calc( (100% - var(--transformed-box-diagonal-length)) / 2 );
}

#contact-info .links a div {
    position: relative;
    display: block;
    width: 55px; 
    height: 55px;
    transition: transform .3s;
}


#contact-info .links a:hover div {
    transform: rotate(-35deg) skew(20deg);
}

.links a span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    /* transition-property: opacity, transform;
    transition-duration: 0.5s; */
    border: 1px solid var(--color-bright);
    /* border-color: var(--color-bright); */
    border-radius: 5px;
}

.links a span:nth-child(5) {
    display: flex; 
    justify-content: center;
    align-items: center;
    
    position: relative;
    /* border-color: var(--color-bright); */
}

.links a:hover span:nth-child(5) {
    transform: translate(20px, -20px);
    opacity: 1;
    
}
.links a:hover span:nth-child(4) {
    transform: translate(15px, -15px);
    opacity: .8;
}
.links a:hover span:nth-child(3) {
    transform: translate(10px, -10px);
    opacity: .6;
}
.links a:hover span:nth-child(2) {
    transform: translate(5px, -5px);
    opacity: .4;
}
.links a:hover span:nth-child(1) {
    opacity: .2;
}

/* orange background spans */
.links a.orange-background span {
    background: var(--color-orange);
    border-color: var(--color-bright);
}
.links a.orange-background span:nth-child(5) {
    background: var(--body-background-color);
}


/* orange shadow */
.links a.orange-shadow:hover span {
    box-shadow: -1px 1px 3px var(--color-orange);
}

/* orange border  */
.links a.orange-border span {
    border-color: var(--color-orange);
}
.links a.orange-border span:nth-child(5) {
    border-color: var(--color-bright);
}

#intro {
    color: var(--color-bright);
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.5rem;
}